.aboutPage{
    width: 100%;
    min-height: 100vh;
}

.aboutPage .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.aboutPage .container article{
    margin: 1vh 0 1vh 0;
    width: 80%;
    transform: translateY(150%);
    opacity: 0;
    transition: 1s;
}

.aboutPage .container article.active{
    transform: translateY(0);
    opacity:1;
}

.aboutPage .container article .content{
    color: rgb(120,120,120);
}

.aboutPage .container article .mainWords{
    font-size: 1.2rem;
    margin: 2vh 0 2vh 0;
}

